# Documentation/example file only.
MR_USER=pi
MR_HOME=/home/pi
MR_VENV=/home/pi/vMeteorRadio
MR_CORE=/home/pi/MeteorRadio
MR_WEB=/home/pi/meteorradio-web
MR_STATS=/home/pi/meteorradio-stats
MR_RADAR_DATA=/home/pi/radar_data
MR_FREQ_HZ=143050000
MR_PORT_MAIN=8094
MR_PORT_QUEUE=8095
MR_PORT_LIKES=8096
MR_PORT_STATS=8097
