[Unit]
Description=MeteorRadio health check every 30 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=30min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
